<div class="wrapper">
<h2>
  {{shelter.shelterName}}
</h2>
<mat-chip-list class="regular">
  <mat-chip selected>
    Max capacity: {{shelter.maxCapacity}}
  </mat-chip>
  <mat-chip selected>
    Shelter status: {{shelter.shelterStatus}}
  </mat-chip>
  <mat-chip selected>
    Registered: {{registered}}
  </mat-chip>
  <mat-chip selected color="accent">
    Checked in: {{checkedIn}}
  </mat-chip>
  <mat-chip selected color="warn">
    Checked in isolated: {{isolated}} 
  </mat-chip>
</mat-chip-list>

<div class="mat-chip-container">
  <mat-chip-list class="mat-chip-list-stacked">
    <mat-chip selected>
      Max capacity: {{shelter.maxCapacity}}
    </mat-chip>
    <mat-chip selected>
      Shelter status: {{shelter.shelterStatus}}
    </mat-chip>
    <mat-chip selected>
      Registered: {{registered}}
    </mat-chip>
    <mat-chip selected color="accent">
      Checked in: {{checkedIn}}
    </mat-chip>
    <mat-chip selected color="warn">
      Checked in isolated: {{isolated}} 
    </mat-chip>
  </mat-chip-list>
</div>
  <mat-form-field class="search">
    <mat-label>Search groups</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Group ID, Registration, Arrival, Departure dates">
  </mat-form-field>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z1">

    <ng-container matColumnDef="groupId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let evacueeGroup"><span class="mobile-label">ID:</span> {{evacueeGroup.groupId}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Designated POC</th>
      <td mat-cell *matCellDef="let evacueeGroup"><span class="mobile-label">Designated POC:</span> {{evacueeGroup.name | titlecase}}</td>
    </ng-container>

    <ng-container matColumnDef="registrationDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Registration Date</th>
      <td mat-cell *matCellDef="let evacueeGroup"><span class="mobile-label">Registration Date:</span> {{evacueeGroup.registrationDate | date: 'short' }}</td>
    </ng-container>
  
    <ng-container matColumnDef="checkedIn">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Checked in</th>
      <td mat-cell *matCellDef="let evacueeGroup"><span class="mobile-label">Checked in:</span> {{evacueeGroup.checkedIn || "-"}}</td>
    </ng-container>

    <ng-container matColumnDef="arrivalDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Arrival Date</th>
      <td mat-cell *matCellDef="let evacueeGroup"><span class="mobile-label">Arrival Date:</span> {{evacueeGroup.arrivalDate | date:'short'}}</td>
    </ng-container>
    
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Address</th>
      <td mat-cell *matCellDef="let evacueeGroup">
        <span class="mobile-label">Address</span>
        <button
        mat-icon-button 
        matTooltip="address info"
        (click)="openAddressDialog(evacueeGroup.groupId, evacueeGroup.address)">
          <mat-icon id="icon" color="primary">
            info
          </mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>
        Action
      </th>
      <td mat-cell *matCellDef="let evacueeGroup">
        <button 
        mat-flat-button
        color="primary" 
        (click)="openCheckInActionDialog(evacueeGroup.groupId, evacueeGroup.checkedIn)">
        Check / Uncheck
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>
        <button
        mat-icon-button 
        matTooltip="refresh"
        (click)="refresh()">
          <mat-icon id="icon" color="primary">
            refresh
          </mat-icon>
        </button>
      </th>
      <td mat-cell *matCellDef="let evacueeGroup">
        <span class="mobile-label">Delete</span>
        <button
        mat-icon-button 
        matTooltip="address info"
        (click)="openRemoveDialog(evacueeGroup.groupId)"
        [disabled]="evacueeGroup.checkedIn">
          <mat-icon id="icon" color="warn" [ngClass]="{'disabled':evacueeGroup.checkedIn}">
            delete
          </mat-icon>
        </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons class="mat-elevation-z1"></mat-paginator>
  <div *ngIf="isLoadingResults" color="warn" style="justify-content: center; align-items: center">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div *ngIf="error" id="error">
    <span class="warning"><mat-icon id="icon-error" color="warn">error</mat-icon> 
      Ooops... something went wrong. Please refresh the page or try again later.
    </span>
  </div>
</div>