.wrapper {
    max-width: 900px;
    margin: 50px auto;
}
  
table {
  width: 100%;
}

th, td {
  overflow: hidden;
  width:auto;
  text-overflow: ellipsis;
  white-space: pre-line //nowrap
}

.search {
  padding-top: 10px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

#icon {
  padding-bottom: 2px;
}

#icon-error {
  position: relative;
  top: 4px;
  left: 0px;
}

#error {
  padding-top: 5px;
  text-align: center;
}

.warning {
  color:red;
}

.disabled {
  color: #4444449c;
}

.mat-row:hover {
  background-color:#ebebeb;
}